on:
  release:
    types:
      - published

name: Publish

# https://docs.pypi.org/trusted-publishers/using-a-publisher/
jobs:
  pypi-publish:
    name: Upload to PyPI
    runs-on: ubuntu-latest

    permissions:
      # IMPORTANT: this permission is mandatory for Trusted Publishing
      id-token: write

    steps:    
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Install dependencies and prepare a sdist
        run: |
          pip install setuptools wheel
          python setup.py sdist
          ls -lh dist/

      # https://github.com/pypa/gh-action-pypi-publish?tab=readme-ov-file#trusted-publishing
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
